# Python
venv/
__pycache__/
*.pyc

# VSCode
.vscode/

# Docker
*.log
.env
mlruns/
artifacts/
logs/
data/processed/

# Airflow
airflow/airflow.db
airflow/logs/
airflow/__pycache__/

# n8n
data_ingest/workflows/.cache/
n8n_data/database.sqlite
